.searchSection {
	/* distance between search section and results section */
	padding-bottom: 45px;

	position: relative;
	width: 60%;

	/* center section */
	margin: 0 auto;
}

.searchHeading {
	/* move right to align with search bar below */
	position: relative;
	left: 15px;

	color: white;
	font-family: Montserrat;
	font-size: 1.8rem;
	font-weight: 200;

	/* add space between heading and search bar */
	margin-bottom: 7px;
}

.searchBar {
	display: flex;
}

.searchBox {
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 4px 0px 4px 35px;
	width: 90%;
	font-family: Montserrat;
	font-size: 15px;
	color: #505050;
}

.searchIcon {
	color: #a9a9a9;

	/* move icon inside search bar */
	position: relative;
	left: 28px;
	top: 6px;
}
