.resultsAndFilterSection {
	display: flex;
	justify-content: center;
}

.resultSection {
	/* background-color: red; */
	width: 80%;
	max-width: 875px;
	padding: 0 40px;
}

.filterSection {
	/* background-color: blue; */
	align-self: flex-end;
	width: 140px;
}
